<ng-container *ngIf="!resetPassword">
    <div mat-dialog-title>Login to {{ data }}</div>
    <mat-dialog-content fxLayout="column" fxLayoutGap="20px">
        <img [src]="'./assets/'+ data +'.png'">
        <mat-form-field floatPlaceholder="always">
            <input matInput #username placeholder="username">
        </mat-form-field>

        <mat-form-field floatPlaceholder="always">
            <input matInput type="password" #password placeholder="Password">
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions fxLayout="column" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
            <button mat-raised-button color="primary"
                    (click)="onLogin(username.value, password.value)">Login
            </button>
        </div>
        <div class="gh-reset-password" (click)="resetPassword=true">Forgot Password</div>
    </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="resetPassword">
    <div mat-dialog-title>Reset Password Request</div>
    <mat-dialog-content fxLayout="column" fxLayoutGap="20px">
        <img [src]="'./assets/'+ data +'.png'">
        <mat-form-field floatPlaceholder="always">
            <input matInput type="email" #resetForm placeholder="Enter your eamil">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="column" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-raised-button color="primary" (click)="resetPassword=false">Back</button>
            <button mat-raised-button color="primary"
                    (click)="onReset(resetForm.value)">Send
            </button>
        </div>
    </mat-dialog-actions>
</ng-container>
