<div *ngIf="!provider" class="gh-container" fxLayout="column" fxLayoutGap="25px">
    <label>SELECT A PROVIDER TO LOG IN</label>
    <div fxLayout="row" fxLayoutGap="50px">
        <button md-raised-button (click)="setProviders('auth0')">AUTH0</button>
        <button md-raised-button (click)="setProviders('firebase')">FIREBASE</button>
    </div>
</div>

<div *ngIf="provider" class="gh-container" fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row" fxLayoutGap=" 50px" fxLayoutAlign=" center">
        <button md-button (click)="provider=''">
            <md-icon>keyboard_backspace</md-icon>
        </button>

        <label>{{ provider.toUpperCase() }}</label>
    </div>
    <div fxLayout="row" fxLayoutGap="50px">
        <button md-raised-button [disabled]="userService.isAuthenticated()"
                (click)="signUpDialog()">SignUp</button>
        <button md-raised-button [disabled]="userService.isAuthenticated()"
                (click)="loginDialog()">Login</button>
        <button md-raised-button  [disabled]="!userService.isAuthenticated()"
                (click)="logout()">Logout</button>
    </div>
    <pre>{{ userData | json }}</pre>
</div>
