<div class="gh-container">
    <div class="gh-providers">
        <h1>FIREBASE Logged Data</h1>
        <label>User authentication with Firebase = {{ state.firebase.authenticated }}</label>
        <textarea>{{ state.firebase.data | json }}</textarea>
        <div class="gh-actions-button">
            <button (click)="login('firebase', user.value, pass.value)">Login with Firebase</button>
            <button (click)="logout();updateData('firebase')">LogOut</button>
        </div>
    </div>
    <div class="gh-providers">
        <label>Email<br><input type="text" #user></label>
        <label>Password<br><input type="password" #pass></label>
    </div>
    <div class="gh-providers">
        <h1>AUTH0 Logged Data</h1>
        <label>User authentication with AUTH0 = {{ state.auth0.authenticated }}</label>
        <textarea>{{ state.auth0.data | json }}</textarea>
        <div class="gh-actions-button">
            <button (click)="login('auth0', user.value, pass.value)">Login with Auth0</button>
            <button (click)="logout();updateData('auth0')">LogOut</button>
        </div>
    </div>
</div>


